@import "tailwindcss";

@theme {
  --font-Bricolage: "Bricolage Grotesque";
  --color-dark-green: #00373e;
  --color-light-yellow: #f9e6d0;
}

* {
  box-sizing: border-box;
}

.HowItWorks-Section .line {
  text-align: start !important;
}

@media (max-width: 768px) {
  .HowItWorks-Section .line {
    text-align: center !important;
  }

  .line {
    width: fit-content !important;
    display: inline !important;
  }
}
